@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* banner styles starts here */

.banner-container{
    width: 715px;
height: 324px;
margin: 0 auto;
background-image: url("/assets/Hero-bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.banner-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 290px;

}
.banner-content img {
  width: 119px;
  height: 118px;
}

.banner-content h3{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
margin-top: 30px;
letter-spacing: 0%;
text-align: center;

}
.banner-content p{
    color: rgb(13, 19, 33);
    font-size: 8px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

#text-primary{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 10px;

letter-spacing: 0%;
text-align: center;
border-radius: 6px;
background: rgb(13, 19, 33);
padding: 10px 12px 10px 12px;
margin-top: 30px;
}


/* web development section starts here */

.section-container{
    width: 700px;
    height: 700px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0 auto;
margin-top: 30px;

}

.section-content{
    width: 422px;
    height: 74px;

}
.section-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 5px;
}

.section-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
}

.first-section-container{
     width: 522px;
     height: 119px;
     display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
margin-top: 50px;
}
.first-leftside-content{
     width: 237px;
     height: 109px;
     display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-bottom: 50px;

}

.first-leftside-content h4{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 700;
margin-bottom: 8px;
}
.first-leftside-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 8px;
}
.first-leftside-content button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 600;
    
}

.rightside-img-content{
     width: 100px;
     height: 80px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.secound-section-container{
    width: 422px;
     height: 120px;

     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     padding: 0px;
     margin-top: 50px;
}

.leftside-content{
      width: 108px;
      height: 103px;
      display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}
.rightside-content{
      width: 236px;
      height: 108px;
      display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-left: 100px
}
.rightside-content h4{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 700;
margin-bottom: 10px;
}
.rightside-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 8px;
}
.rightside-content button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 600;
}

.third-section-content{
      width: 422px;
      height: 120px;
    display: flex;
flex-direction: row;
justify-content: space-between;
 align-items: center;
padding: 0px;
  margin-top: 50px;
   
}
.leftside-text-content{
    width: 237px;
     height: 109px;
     display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-right: 60px;

}

.leftside-text-content h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

.leftside-text-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 10px;
}
.leftside-text-content button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 600;
    
}

.rightside-text-content{
     width: 102px;
     height: 92px;
     margin-bottom: 100px;
}

.vedio-section-container{
     width: 566px;
     height: 285px;
     margin: 0 auto;
     margin-top: 30px;
}
.video-text-content{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 580px;
     height: 60px;
}
.video-text-content h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 800;
    margin-top: 5px;
}
.video-text-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 8px;
    font-weight: 400;
}

.video-content{
      width: 565px;
      height: 305px;
      margin-top: 20px;
}



